# phpstorm project files
.idea

# vs code project files
.vscode

# composer vendor dir
/vendor/

# Mac DS_Store files
.DS_Store

# PHPUnit cache files
/.phpunit.cache

# Composer lock
composer.lock

# mago binary
mago